.vacation-form{
    width: 100%;
    margin-top:20px;
    form{
        input,  select{
            margin: 20px 0px 0px 5px;
            margin-bottom: 20px;
            height: 50px;
            width: 90%;
            border: none;
            border-bottom: 1px solid grey;
            text-align: center;
            font-size: 18px;
            font-family: inherit;
            border-radius: 30px;
            color: inherit;
            font-weight: bolder;
            &:focus{
                padding: 10px 0px;
                box-shadow: 2px ;
                background: #FFEBCD;
                color: #0a5c69;
                border-radius: 30px;
            }
        }
        
        select{
            text-align-last: center;
        }
        textarea{
            margin: 20px 0px 0px 5px;
            width: 90%;
        }
    }
}