.vacation-form{
    width: 100%;
    form{
        label{
            width: 100%; 
            height: 50px;
            input, textarea, select{
                margin: 20px 0px 0px 10px;
                margin-bottom: 20px;
                height: 30px;
                width: 90%;
            }
        }
    }
}